.page-products {
    padding-bottom: 100px;
    .container {
        width: 860px;
    }
    .col-left {
        display: inline-block;
        width: 230px;
        float: left;
    }
    .col-right {
        padding-left: 15px;
        display: inline-block;
        width: 605px;
        float: right;
        .page-title {
            margin-bottom: 30px;
            margin-left: 15px;
        }
        .filter {
            margin-left: 15px;
        }
        .product-content {
            margin-top: 35px;
            .item {
                display: inline-block;
            }
        }
    }
}

.product-search {
    padding-left: 15px;
    .item-category {
        margin-bottom: 40px;
    }
    .item-title {
        display: block;
        margin: 0;
        padding: 15px 20px;
        background: $color-main;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.4px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 5px;
            a {
                position: relative;
                display: block;
                margin: 0;
                padding: 15px 20px;
                padding-right: 50px;
                background: $color-paint;
                .product-title {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.3px;
                }
                .button-plus {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border: none;
                    top: 7px;
                    right: 7px;
                    background: #fff;
                    padding: 5px;
                    cursor: pointer;
                    transition: 0.2s;
                    .icon {
                        width: 0;
                        height: 0;
                        display: inline-block;
                        position: relative;
                        top: -5px;
                        left: -5px;
                    }
                    .icon:before {
                        color: $color-main;
                        font-size: 34px;
                    }
                }
            }
            a:hover {
                .button-plus {
                    background: $color-main;
                    transition: 0.2s;
                    .icon:before {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
    .page-products .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .page-products .col-left {
        width: 100%;
        float: none;
    }
    .sidebar .sidebar-list ul li {
        display: inline-block;
        margin: 5px 0 !important;
        margin-left: -5px !important;
        a {
            padding: 0 10px;
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;
        }
    }
    .page-products .col-right {
        width: 100%;
    }
    .page-products .col-right .page-title {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .page-products .col-right .filter {
        margin-left: 0;
    }
    .page-products .col-right .product-content {
        margin-top: 25px;
        text-align: center;
    }
    .product-search {
        padding-left: 0;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .page-products {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 480px) {
    .sidebar .sidebar-list ul li a {
        padding: 0 6px;
    }
}

@media screen and (max-width: 380px) {}

@media screen and (max-width: 360px) {}
