.page-product-list {
    margin-top: 60px;
    padding-bottom: 20px;
    .container {
        width: 920px;
        margin: auto;
        .row {
            padding: 0 20px;
        }
    }
    .page-title {
        margin-left: 10px;
    }
    .product-list {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .item {
            flex-basis: 380px;
            margin: 0 10px;
            margin-top: 5px;
            padding: 8px 0;
            padding-right: 40px;
            position: relative; //            display: inline-block;
            text-align: left;
            border-bottom: 1px solid #cccdd2;
            .item-title {
                font-weight: 400;
            }
            .icon {
                position: absolute;
                right: 3px;
                top: 10px;
                opacity: 0.3;
                font-size: 12px;
                cursor: pointer;
                z-index: 2;
            }
            .icon:hover {
                opacity: 1;
            }
        }
    }
    .product-order {
        margin-top: 50px;
        padding-bottom: 140px;
        .order-title {
            text-align: center;
            margin-bottom: 10px;
        }
        .order-subtitle {
            text-align: center;
            margin-bottom: 40px;
            letter-spacing: 1px;
        }
        .form {
            max-width: 550px;
            margin: auto;
            margin-bottom: 30px;
            padding: 45px 45px 25px 45px;
            box-sizing: border-box;
        }
        .form-text {
            text-align: center;
        }
    }
}

.empty {
    .product-list {
        display: block;
        margin-top: 50px;
        margin-bottom: 200px;
        .text {
            text-align: center;
            p {
                margin: 20px 0;
                font-size: 16px;
                line-height: 1.25;
                letter-spacing: 0.5px;
                a {
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 0.5px;
                    text-decoration: underline;
                }
            }
        }
    }
    .product-order {
        position: relative;
        &:before {
            content: '';
            display: block;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            opacity: .7;
        }
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
    .page-product-list .container {
        width: 750px;
    }
    .page-product-list .product-list .item {
        flex-basis: 295px;
    }
}

@media screen and (max-width: 768px) {
    .page-product-list .container {
        width: 100%;
    }
    .page-product-list .product-list .item {
        flex-basis: 100%;
    }
    .page-product-list .product-order .order-title {
        font-size: 26px;
    }
    .page-product-list .product-order .order-subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .page-product-list .product-order {
        padding-bottom: 60px;
    }
    .page-product-list .product-order .form {
        margin-bottom: 20px;
    }
    .empty .product-list {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 480px) {
    .page-product-list .product-order .form {
        padding: 25px;
    }
}

@media screen and (max-width: 380px) {}
